<div class="box">
        <div class="box-body">
            <div class="box-header">
                <h3 class="box-title">Alternatif</h3>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Keterangan</th>
                        <th>Total</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Keterangan Test</td>
                        <td>200</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    